[Unit]
Description=Telegram bot 'Desing laboratory bot2'
After=syslog.target
After=network.target

[Service]
Type=simple
User=semen106
WorkingDirectory=/home/semen106/bot/desing_bot/cnp_design_lab_bot
ExecStart=/usr/bin/python3 /home/semen106/bot/desing_bot/cnp_design_lab_bot/main.py
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
